In [ ]:
""" Block 1: DataFrame Basics
Focus: Load, explore, access columns/rows

 1  Load Titanic dataset from CSV
 2  Print shape, columns, .head(), .tail()
 3  Access “Age” column
 4  Filter rows where Age > 30
 5  Count how many males survived
 6  Drop the “Cabin” column
 7  Rename column “Sex” to “Gender”
 8  Create new column: Age squared
 9  Sort by Fare descending
 10  Get top 5 youngest survivors """

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)
print(df.head())

In [ ]:
print("The shape of the dataset:", df.shape)
print("The number of columns in the dataset:", df.columns)
print("The first 5 rows of dataset:", df.head())
print("The last 5 rows of the dataset:", df.tail)

In [ ]:
age_col = df['Age']
print(age_col.head())

In [ ]:
mask = df['Age'] > 30
filtered_df = df[mask]
print(filtered_df.head())

In [ ]:
mask = (df['Sex'] == 'male') & (df['Survived'] == 1)
survived_males_df = df[mask]
print(survived_males_df.sample(n = 5))

In [ ]:
df = df.drop('Cabin', axis = 1)
print(df.sample(n = 5))

In [ ]:
df = df.rename(columns = {'Sex' : 'Gender'})
print(df.sample(n = 5))

In [ ]:
df['Age_squared'] = df['Age'] ** 2
print(df['Age_squared'].sample(n = 5))

In [14]:
sorted_df = df.sort_values(by = 'Fare', ascending = False)
print(sorted_df.sample(n = 5))

     PassengerId  Survived  Pclass  \
153          154         0       3
410          411         0       3
669          670         1       1
10            11         1       3
157          158         0       3

                                                  Name  Gender   Age  SibSp  \
153                    van Billiard, Mr. Austin Blyler    male  40.5      0
410                                 Sdycoff, Mr. Todor    male   NaN      0
669  Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)  female   NaN      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
157                                    Corn, Mr. Harry    male  30.0      0

     Parch           Ticket     Fare Embarked  Age_squared
153      2         A/5. 851  14.5000        S      1640.25
410      0           349222   7.8958        S          NaN
669      0            19996  52.0000        S          NaN
10       1          PP 9549  16.7000        S        16.00
157      0  SOTON/OQ 392090   8.0500        S       900.00

In [15]:
sorted_df_age = df.sort_values(by = 'Age')
print(sorted_df_age.head())

     PassengerId  Survived  Pclass                             Name  Gender  \
803          804         1       3  Thomas, Master. Assad Alexander    male
755          756         1       2        Hamalainen, Master. Viljo    male
644          645         1       3           Baclini, Miss. Eugenie  female
469          470         1       3    Baclini, Miss. Helene Barbara  female
78            79         1       2    Caldwell, Master. Alden Gates    male

      Age  SibSp  Parch  Ticket     Fare Embarked  Age_squared
803  0.42      0      1    2625   8.5167        C       0.1764
755  0.67      1      1  250649  14.5000        S       0.4489
644  0.75      2      1    2666  19.2583        C       0.5625
469  0.75      2      1    2666  19.2583        C       0.5625
78   0.83      0      2  248738  29.0000        S       0.6889